[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
passlib = "*"
tox = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
pytest-factoryboy = "*"
"boto3" = "*"
gunicorn = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-factoryboy = "*"
faker = "*"
pytest-flask = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
